auth_enabled: false
server:
  http_listen_port: 3100
  log_level: info
common:
  compactor_address: http://loki:3100
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks
limits_config:
  retention_period: ${LOKI_RETENTION_DAYS:-7}d
  reject_old_samples: true
chunk_store_config:
  max_look_back_period: 168h
